@{ 
    Layout = null;
    const string BasePath = "/Client/dist/";

    string AddScript(string url)
    {
        return $"<script type=\"text/javascript\" src=\"{BasePath + url}\"></script>";
    }

    string GenerateJS()
    {
        var scripts = new List<string> {
            "inline.bundle.js",
            "polyfills.bundle.js",
            "styles.bundle.js",
            "vendor.bundle.js",
            "main.bundle.js",
        };

        string res = "";
        foreach (var script in scripts)
            res += AddScript(script);
        return res;
    }
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    @Html.Raw(GenerateJS());
</body>
</html>
