@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="/Client/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="/Client/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/Client/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="/Client/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="/Client/dist/main.bundle.js"></script>
</body>
</html>
